<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>profile Yu</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Shilan Shebli</h1>
      <h2>a prgrammer</h2>
    </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/images/profile.png" alt="profile-profile-img">
      <h2>Hi!</h2>
      <p class="intro">I am a Web Developer</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <li>Python 3.10</li>
      <li>Data Structures and Object-Oriented Programming (OOP)</li>
      <li>Web Development, Flask and Django</li>
      <li>Database Interaction, SQLite and SQLAlchemy</li>
      <li>API Integration, making HTTP requests, handling JSON data, and</li>
      <li>integrating external APIs</li>
      <li>Error Handling</li>
      <li>File Handling</li>
      <li>Version Control, Git and Github</li>
      <li>Web Scraping, BeautifulSoup and Request</li>
      <li>GUI, Tkinter</li>
      <li>Data Analysis, Pandas</li>
      <li>HTML and CSS</li>
      <div class="skill-row">



      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you are looking for a web developer or data analyst!</h3>
      <a class="btn" href="mailto:ilove@hotwings.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/profile-yu-963a584b/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/yu_profile">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p class="copyright">© 2019 profile Yu @ The App Brewery.</p>
  </div>
</body>

</html>
